
.PhraseBox {
  display: inline-block;
  text-align: center;
}

.PhraseBox + .PhraseBox {
  margin-left: 0.3em;
}

.PhraseBox-Phrase {
}

.PhraseBox-Translation {
  font: 0.7em sans-serif;
  vertical-align: sub;
  color: green;
}